<section class="b-layeredComponentDemo{{#with theme}} t-{{this}}{{/with}}" data-component="c000-layered-component-demo"
  {{#if scrollComponent}}data-scroll-component{{/if}} {{#if id}} id="{{id}}" {{/if}} {{#if (condition
  backgroundColor '||' padding)}}
  style="{{#with padding}}--component-block-padding: var(--{{#with start}}block-padding-{{this}}{{else}}container-margin{{/with}})
    {{#unless (condition start '===' end)}}var(--{{#with end}}block-padding-{{this}}{{else}}container-margin{{/with}}){{/unless}};{{/with}}
    {{#with backgroundColor}}--component-background-color: {{#unless (condition this '===' transparent)}}var(--color-{{this}}){{^}}transparent{{/unless}};{{/with}}"
  {{/if}} data-lazy-component>

  <div class="b-layeredComponentDemo__heading">
    {{> ./layers/heading/c000-heading.hbs heading }}
  </div>

  <div class="b-layeredComponentDemo__sliderPagination">
    {{> ./layers/pagination/c000-pagination.hbs pagination }}
  </div>

  <div class="b-layeredComponentDemo__slider">
    {{> ./layers/slider/c000-slider.hbs slider }}
  </div>

</section>