


<section class="b-newsList{{#if theme}} t-{{theme}}{{/if}}"
         data-component="c64-news-list"
         {{#if scrollComponent}}data-scroll-component{{/if}}
  {{#if id}} id="{{id}}"{{/if}}
  {{#if (condition backgroundColor '||' padding)}}
         style="{{#with padding}}--component-block-padding: var(--{{#with start}}block-padding-{{this}}{{else}}container-margin{{/with}})
           {{#unless (condition start '===' end)}}var(--{{#with end}}block-padding-{{this}}{{else}}container-margin{{/with}}){{/unless}};{{/with}}
           {{#with backgroundColor}}--component-background-color: {{#unless (condition this '===' transparent)}}var(--color-{{this}}){{^}}transparent{{/unless}};{{/with}}"
  {{/if}}
  data-lazy-component
>
  <div class="b-newsList__container">
    {{> molecule/m04-component-header header}}

    <div class="b-newsList__items">
      <div class="b-newsList__column">
      {{#each items}}
        {{> molecule/m46-media-card this}}
      {{#if (condition @index '===' 2)}}
      </div>
      <div class="b-newsList__column">
      {{/if}}
      {{/each}}
    </div>
  </div>
</section>
